.Q-and-A_Container{
  font-size: medium;
  color: #2c2c2c;
  font-family: 'Trip Sans', Arial, sans-serif !important;
  margin: 0;
  display: block;
  padding: 12px;
  box-sizing: border-box;
  flex: none;
  width: 837.328px;
  background-color: #f2f2f2;
}


