
#q-and-a .translation-container {
  margin-bottom: 8px;
  display: none;
}

#q-and-a .Component_Question{
  margin-bottom:12px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: block;

}

#q-and-a .Component_Answer {
  border:solid #e0e0e0;
  border-width:0 0 1px;
  font-size:16px;
  line-height:20px;
  padding:16px 24px 12px;

}
#q-and-a .Component_Question:first-child {
  margin-top:16px;
}

#q-and-a .show-all-answers-container{
display:block;
margin-top:16px;
font-weight:700;
font-size:14px;
line-height:18px;
color:#000;
}
#q-and-a .show-all-answers-container:hover,.show-all-answers-container:visited{color:#000;}


#q-and-a .ui_button {
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box
}
#q-and-a .ui_button.primary:not(.disabled):focus,
#q-and-a .ui_button.secondary:not(.disabled):focus {
  box-shadow: 0 0 0 2px #fff,0 0 0 3px #000
}
#q-and-a .ui_button,
#q-and-a .ui_icon:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
#q-and-a .Component_Footer,
#q-and-a .Component_QuestionList,
#q-and-a .Q-and-A_Container,
#q-and-a .answer-text,
#q-and-a .answer-text2,
#q-and-a .down-icon-container,
#q-and-a .footer-item,
#q-and-a .ui_button,
#q-and-a .ui_column,
#q-and-a .ui_container {
  box-sizing: border-box
}

#q-and-a .ui_button,
button {
  font-family: inherit
}
#q-and-a .Q-and-A_Container,
#q-and-a .footer-item {
  font-family: 'Trip Sans',Arial,sans-serif!important
}
#q-and-a .ui_button,
#q-and-a .ui_button.secondary:not(.disabled):focus,
#q-and-a .ui_button:focus:active,
#q-and-a .ui_icon.ui_icon:before,
#q-and-a .ui_link,
a {
  text-decoration: none
}
#q-and-a .ui_icon:before {
  font-size: inherit;
}
#q-and-a .show-all-answers-container,
#q-and-a .ui_button {
  font-weight: 700
}
#q-and-a .ui_icon.thumbs-down:before {
  content: "\e13b"
}
#q-and-a .ui_icon.thumbs-up:before {
  content: "\e13a"
}
div,
form {
  margin: 0;
  padding: 0
}
img {
  border: 0
}
#q-and-a .ui_social_avatar.xtra-small img {
  border-radius: inherit;
  display: block;
  height: 24px;
  margin: 2px;
  width: 24px
}
#q-and-a .ui_link {
  color: #474747
}
@media (min-width:1024px) {
  #q-and-a .ui_link:active,
  #q-and-a .ui_link:hover {
    color: #474747;
    text-decoration: underline
  }
}
#q-and-a .ui_link:focus {
  color: #474747;
  outline: 0;
  text-decoration: underline
}
#q-and-a .ui_link:visited {
  color: #474747;
  text-decoration: none
}
#q-and-a .show-all-answers-container,
#q-and-a .show-all-answers-container:hover,
#q-and-a .show-all-answers-container:visited {
  color: #000
}
#q-and-a .message-body-container,
#q-and-a .profile-stats .username-container2,
#q-and-a .show-all-answers-container {
  font-size: 14px;
  line-height: 18px
}
#q-and-a .show-all-answers-container {
  margin-top: 16px;
}
#q-and-a .message-body-container {
  color: #8c8c8c;
  padding-left: 35px
}
#q-and-a ._3PBJKBYy {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 8px
}

@media (min-width:768px) {
  #q-and-a .ellipsis:hover {
    color: #00aa6c
  }
}
#q-and-a .username-container.ui_link {
  color: #000;
  font-weight: 700
}
#q-and-a .profile-stats ._287pE6AZ ._1_xw04A- {
  color: #8c8c8c;
  display: block;
  font-size: 12px;
  line-height: 16px
}
#q-and-a .profile-stats ._287pE6AZ .overflow {
  display: inline;
  float: none;
  left: -10px;
  position: relative;
  top: 3px
}
#q-and-a .Q-and-A_Container {
  font-size: medium;
  color: #2c2c2c;
  margin: 0;
  display: block;
  padding: 12px;
  flex: none;
  width: 837.328px;
  background-color: #f2f2f2
}
#q-and-a .Component_Footer,
#q-and-a .footer-item {
  display: flex
}
#q-and-a .footer-item-title,
#q-and-a .ui_button {
  font-weight: 700;
  text-align: center
}
#q-and-a .Component_Footer {
  margin: 0 0 24px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 24px;
  border-radius: 2px;
  height: 218px
}
#q-and-a .footer-item {
  margin: 0;
  padding: 12px 12px 12px 50px;
  flex-direction: column;
  flex: none;
  width: 33.33333333%;
  position: relative;
  text-align: left
}
@media (min-width:768px) {
  #q-and-a .footer-item {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: center
  }
}
#q-and-a .footer-item-title {
  position: relative;
  font-family: "Trip Sans",Arial,sans-serif;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  font-size: 16px
}
#q-and-a .footer-item-body {
  color: #8c8c8c;
  font-size: 14px;
  line-height: 18px;
  margin: 8px 0
}
@media (min-width:768px) {
  #q-and-a .footer-item-title {
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 6px;
    text-align: center
  }
  #q-and-a .footer-item-body {
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1
  }
}
#q-and-a .ask-a-question-container,
#q-and-a .footer-item-icon {
  display: -webkit-flex;
  display: -ms-flexbox
}
#q-and-a .footer-item-icon {
  padding: 0;
  text-align: center;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}
@media (max-width:767px) {
  #q-and-a .footer-item-icon {
    font-size: 24px;
    line-height: 28px;
    position: absolute;
    left: 10px;
    top: 5px
  }
}
#q-and-a .footer-item-button {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start
}
@media (min-width:768px) {
  #q-and-a .footer-item-icon {
    font-size: 32px;
    line-height: 36px
  }
  #q-and-a .footer-item-button {
    -ms-flex-item-align: center;
    -webkit-align-self: center;
    align-self: center
  }
}
#q-and-a .ui_button {
  appearance: none;
  appearance: none;
  font-family: inherit
}
#q-and-a .ui_button.primary:not(.disabled):active {
  box-shadow: none
}
#q-and-a .header-container {
  background-color: #fff;
  margin-bottom: 24px;
  padding: 0 16px;
  position: relative
}
@media (min-width:1024px) {
  #q-and-a .header-container {
    padding: 0 24px
  }
}
#q-and-a ._2i8Npzw1 {
  padding: 0 0 18px
}
#q-and-a .questions-and-answers {
  -ms-flex: 1;
  -webkit-flex: 1;
  color: #000;
  flex: 1;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0
}
#q-and-a ._3n8-XHcx {
  padding-top: 16px
}
#q-and-a .ask-a-question-div {
  margin-top: 12px
}
@media (min-width:768px) {
  #q-and-a ._2i8Npzw1 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
  }
  #q-and-a .questions-and-answers {
    font-size: 28px
  }
  #q-and-a .ask-a-question-div {
    margin: 0
  }
}
#q-and-a .ask-a-question-container {
  display: flex
}
#q-and-a .ask-a-question-container > :last-child {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center
}
@media (max-width:767px) {
  #q-and-a .ask-a-question-container > :last-child {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1
  }
  #q-and-a .navigation-container {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap
  }
}
#q-and-a .ask-a-question-container > :last-child > :first-child {
  width: 100%
}
#q-and-a .ask-a-question-container :first-child {
  -ms-flex: 11;
  -ms-flex-preferred-size: auto;
  -webkit-flex: 11;
  -webkit-flex-basis: auto;
  flex: 11;
  flex-basis: auto
}
#q-and-a .down-icon-container {
  background-clip: padding-box;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  margin-left: 1px;
  padding: 8px 10px
}
#q-and-a .Component_Navigation {
  font-size: medium;
  color: #2c2c2c;
  -webkit-font-smoothing: antialiased;
  font-family: 'Trip Sans',Arial,sans-serif!important;
  margin: 0;
  background-color: rgba(0,0,0,0);
  padding: 0
}
#q-and-a .navigation-container {
  -moz-user-select: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  user-select: none;
  white-space: nowrap
}
#q-and-a .navigation-container:before {
  background-color: #e0e0e0;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%
}
#q-and-a .navigation-section {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 16px 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom-width: 0;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0
}
#q-and-a .navigation-section-active {
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0
}
#q-and-a .navigation-section.navigation-forums-section,
#q-and-a .navigation-section:focus,
#q-and-a .navigation-section:hover {
  color: #000;
  text-decoration: none
}
#q-and-a .navigation-section.navigation-forums-section:after {
  background-color: #000;
  content: "";
  display: block;
  height: 3px;
  left: -1px;
  overflow: visible;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px)
}
#q-and-a .navigation-section.navigation-forums-section:focus,
#q-and-a .navigation-section.navigation-forums-section:hover {
  color: #000;
  text-decoration: none
}
#q-and-a .navigation-section.navigation-forums-section {
  background-color: #fff;
  border-bottom-color: #fff;
  color: #000;
  font-weight: 700;
  position: relative
}
#q-and-a .navigation-section-span {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1
}
@media (max-width:420px) {
  #q-and-a .navigation-section-span {
    -ms-flex: 1 0 33%;
    -webkit-flex: 1 0 33%;
    flex: 1 0 33%
  }
}
#q-and-a .navigation-section-icon {
  display: block;
  font-size: 28px;
  line-height: 32px
}
#q-and-a .navigation-tabs-reviews {
  background-color: rgba(0,0,0,0);
  padding: 0
}
#q-and-a .navigation-qty {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-top: 4px
}
#q-and-a .avatar-icon-container,
#q-and-a .menu-container {
  display: -webkit-flex;
  display: -ms-flexbox
}
#q-and-a .navigation-text {
  font-size: 14px;
  line-height: 18px
}
#q-and-a .profile-stats-details ._1TuWwpYf,
#q-and-a .profile-stats-details ._3fPsSAYi,
#q-and-a .profile-location.small {
  line-height: 16px;
  font-size: 12px
}
#q-and-a .ui_button {
  appearance: none;
  font-family: inherit
}
#q-and-a .ui_button.small {
  font-size: 12px;
  line-height: 16px;
  padding: 6px 10px
}
#q-and-a .ui_button.secondary {
  background-color: #fff;
  border-color: #000;
  border-radius: 3px;
  color: #000
}
#q-and-a .ui_button.secondary:not(.disabled):hover {
  background-color: #d6d6d6;
  border-color: #000;
  color: #000;
  text-decoration: none
}
#q-and-a .ui_button.secondary:not(.disabled):focus {
  box-shadow: 0 0 0 2px #fff,0 0 0 3px #000;
  outline: 0;
  text-decoration: none
}
#q-and-a .ui_button.secondary:not(.disabled):active {
  background-color: #adadad;
  border-color: #000;
  box-shadow: none;
  color: #000
}
#q-and-a .ui_social_avatar img {
  border-radius: inherit;
  display: block;
  height: 42px;
  margin: 3px;
  width: 42px
}
#q-and-a ._1qcExlNg {
  color: inherit
}
#q-and-a ._1qcExlNg:hover,
#q-and-a ._1qcExlNg:visited {
  color: inherit;
  text-decoration: none
}
#q-and-a .username-container:active,
#q-and-a .username-container:hover,
#q-and-a .ui_icon:before {
  text-decoration: underline
}

#q-and-a .date-span {
  float: right
}
#q-and-a .ellipsis {
  font-size: 24px;
  margin-left: 12px
}
@media (min-width:768px) {
  #q-and-a .ellipsis:hover {
    color: #00aa6c
  }
  #q-and-a .profile-stats-details ._1TuWwpYf + ._3fPsSAYi:before {
    content: "\A0\2022\A0"
  }
}
#q-and-a .ellipsis.ellipsis2 {
  color: #000
}
#q-and-a .profile-location .profile-map {
  font-size: 16px;
  margin-right: 4px
}
#q-and-a .profile-location.small {
  margin: 0
}
#q-and-a .profile-location.small .profile-map {
  font-size: 12px;
  margin-right: 0;
  position: relative;
  top: -1px
}
#q-and-a .profile-stats-details ._1TuWwpYf {
  color: #8c8c8c
}
@media (max-width:767px) {
  #q-and-a .profile-stats-details ._1TuWwpYf {
    display: block
  }
}
#q-and-a .profile-stats-details ._3fPsSAYi {
  color: #8c8c8c;
  display: inline-block
}
#q-and-a .profile-stats-details ._1fk70GUn {
  color: #8c8c8c;
  font-weight: 700
}
#q-and-a .profile-container {
  margin-bottom: 12px;
  zoom: 1
}
#q-and-a .profile-container:after,
#q-and-a .profile-container:before {
  content: " ";
  display: table
}
#q-and-a .profile-container:after {
  clear: both
}
#q-and-a .profile-container .ui_social_avatar {
  float: left;
  margin: -3px 8px 0 -3px
}
#q-and-a .menu-container {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  display: flex;
  float: right;
  margin: -2px 0 0 12px
}
#q-and-a .username-container.ui_header_link {
  color: #000;
  font-weight: 700
}
@media (max-width:767px) {
  #q-and-a .username-container.ui_header_link {
    display: block
  }
}
#q-and-a .profile-stats,
#q-and-a .profile-stats .username-container2 {
  height: 100%;
  overflow: hidden
}
#q-and-a .profile-stats .username-container2 {
  color: #474747;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 2px
}
#q-and-a .profile-stats .overflow {
  float: right;
  margin-top: -2px
}
#q-and-a .Component_QuestionList {
  font-size: medium;
  color: #2c2c2c;
  -webkit-font-smoothing: antialiased;
  font-family: 'Trip Sans',Arial,sans-serif!important;
  margin: 16px 0 12px;
  padding: 0;
  background-color: #f2f2f2
}
#q-and-a .answer-text,
textarea {
  font-family: inherit
}
#q-and-a .ui_social_avatar {
  background-color: #fff;
  border-radius: 100%;
  display: block;
  height: 48px;
  overflow: hidden;
  position: relative;
  transition: width 50ms,height 50ms;
  width: 48px
}
#q-and-a .svg-container,
#q-and-a .ui_social_avatar.inline {
  display: inline-block
}
#q-and-a .ui_social_avatar:before {
  border: 3px solid #fff;
  border-radius: inherit;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0
}
#q-and-a .ui_social_avatar:after,
#q-and-a .ui_social_avatar:before {
  box-sizing: border-box;
  content: "";
  position: absolute
}
#q-and-a .ui_social_avatar:after {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: inherit;
  bottom: 3px;
  left: 3px;
  right: 3px;
  top: 3px
}
#q-and-a .ui_social_avatar.xtra-small {
  border-radius: 100%;
  height: 28px;
  width: 28px
}
#q-and-a .ui_social_avatar.xtra-small:before {
  border-width: 2px
}
#q-and-a .svg-container {
  vertical-align: bottom
}
#q-and-a .svg-avatar-container {
  fill: currentColor
}
#q-and-a .profile-img-container {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  display: block;
  flex-shrink: 0
}
#q-and-a .avatar-icon-container {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}
#q-and-a .answer-text {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 14px;
  padding: 12px
}
#q-and-a .answer-text:focus {
  border-color: #000;
  outline: #000 solid 1px
}
#q-and-a .main-container {
  border: solid #e0e0e0;
  border-width: 0 0 1px;
  font-size: 16px;
  line-height: 20px;
  padding: 16px 24px 12px;
  color: #2c2c2c;
  font-family: 'Trip Sans',Arial,sans-serif!important;
  margin: 0
}
#q-and-a .main-container:last-child {
  border: 0 solid #e0e0e0
}
#q-and-a .answer-text2 {
  padding: 6px;
  resize: none;
  width: 100%
}
#q-and-a .answer-text2:focus {
  border-color: #000;
  outline: #000 solid 1px
}
#q-and-a .answer-container {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1
}
#q-and-a .reply-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
#q-and-a .ui_button,
#q-and-a .ui_icon:before {
  display: inline-block
}
#q-and-a .ui_button.primary:not(.disabled):focus,
#q-and-a .ui_button:focus:active {
  outline: 0
}
#q-and-a .ui_button,
#q-and-a .ui_button.primary:not(.disabled):focus,
#q-and-a .ui_button:focus:active,
#q-and-a .ui_icon.ui_icon:before,
a {
  text-decoration: none
}
#q-and-a .ui_button,
#q-and-a .ui_container {
  position: relative
}
#q-and-a .ui_icon:before {
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  font-size: inherit;
  line-height: 1;
  font-family: TripAdvisor_Regular!important
}
#q-and-a .ui_icon.camera:before {
  content: "\e010"
}
#q-and-a .ui_icon.pencil-paper:before {
  content: "\e00e"
}
#q-and-a .ui_icon.forums:before {
  content: "\e006"
}
#q-and-a .ui_icon.caret-down:before {
  content: "\e04a"
}
div {
  margin: 0;
  padding: 0
}
#q-and-a .ui_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 16px;
  font-weight: 700;
  font-family: inherit;
  border: 1px solid transparent;
  border-radius: 2px;
  background-clip: padding-box;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  transition: background-color .2s
}
#q-and-a .ui_button.primary {
  border-color: #000;
  border-radius: 3px;
  background-color: #000;
  color: #fff
}
#q-and-a .ui_button.primary:not(.disabled):hover {
  text-decoration: none;
  border-color: #292929;
  background-color: #292929
}
#q-and-a .ui_button.primary:not(.disabled):focus {
  box-shadow: 0 0 0 2px #fff,0 0 0 3px #000
}
#q-and-a .ui_button.primary:not(.disabled):active {
  border-color: #525252;
  background-color: #525252;
  box-shadow: none
}
#q-and-a .ui_column {
  display: block;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  padding: 12px
}
#q-and-a .ui_icon.single-chevron-right:before {
  content: "\e03b"
}
#q-and-a .ui_icon.thumbs-up:before {
  content:"\e13a";
}
#q-and-a .ui_icon.thumbs-down:before{
  content:"\e13b";
}
#q-and-a .ui_container {
  padding: 0 24px;
  max-width: 1280px
}
@media (max-width:767px) {
  #q-and-a .ui_container {
    padding: 0 16px
  }
}
@media (min-width:1024px) {
  #q-and-a .ui_container {
    margin: 0 auto
  }
}

html body {
  font-family: 'Trip Sans',Arial,sans-serif;
  margin: 0
}
#q-and-a .votes-container{
  -ms-flex-align :center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-top: 8px;
}
#q-and-a .votes-icon-container{
  color: #bababa;
  cursor: pointer;
  font-size: 18px;
}
#q-and-a .votes-icon-container:hover{
  color:#000;
}
#q-and-a .votes-qty-container{
  color:#474747;
  font-size:12px;
  font-weight:700;
  margin:0 8px;
  min-width:30px;
  text-align:center;
}
