.Component_QuestionList {
  font-size: medium;
color: #2c2c2c;
-webkit-font-smoothing: antialiased;
font-family: 'Trip Sans', Arial, sans-serif !important;
margin: 0;
padding: 0;
margin-bottom: 12px;
background-color: #fff;
box-sizing: border-box;
margin-top: 16px;
}
